* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    /* border-radius: 10px; */
}

/* #window {
    border-radius: 100px;
} */

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    /* border-bottom: 3px solid rgba(100, 114, 125, 1); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
/* 
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: rgba(20, 20, 20, 0.2);
    font-weight: 900;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* #mode {
    background-color: #64727D;
} */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#workspaces {
    margin: 0 4px;
}

.modules-right {
    background-color: transparent;
    color: #ffffff;
    /* border-top-left-radius: 9px;
    border-bottom-left-radius: 9px; */
    padding-right: 5px;
}

/* .modules-center {
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
} */
.modules-center {
    background-color: transparent;
}

.modules-left {
    background-color: transparent;
    color: #ffffff;
    /* border-top-right-radius: 9px;
    border-bottom-right-radius: 9px; */
    padding-left: 5px
}
/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces {
    margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces {
    margin-right: 0;
} */

/* #clock {
    background-color: #111111;
} */

/* #battery {
    background-color: #111111;
    color: #ffffff;
} */

/* #battery.charging, #battery.plugged {
    color: #ffffff;
} */

/* @keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
} */

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* label:focus {
    background-color: #000000;
} */

/* #backlight {
    background-color: #111111;
} */

/* #network {
    background-color: #111111;
} */

#network.disconnected {
    color: #f53c3c;
}

/* #wireplumber {
    font-size: 13px;
    color: #ffffff;
    background-color: #111111;
} */

#wireplumber.muted {
    color: #f53c3c;
}

/* #custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
} */

/* #custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */

#cava {
    color: rgba(255, 255, 255, 0.7);
    font-size: 6px;
}
